body {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    width: 60%;
    max-width: 900px;
    height: auto;
    background-color: #004ff2;
    color: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    transition: ease-in-out 0.15s;
    transform: scale(1.1);
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:disabled {
    background-color: #999;
    cursor: not-allowed;
}

.consent-container {
    margin-bottom: 20px;
    text-align: center;
}