<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
    <title>Скуфуслуги</title>
</head>
<body>
    <div class="navbar">
        <a class="logo"><img class="logo-icon" src="{% static 'main/images/logo.png' %}" alt="logo"></a>
        <a class="choose"><img class="choose-icon" src="{% static 'main/images/skufam.png' %}" alt="skufam"></a>
        <a href="/become-a-skuf">Услуги</a>
        <a href="#">Документы</a> 
        <a href="#">Заявления</a>
        <a href="#">Платежи</a>
        <a href="#">Помощь</a>
        <a class="loopa"></a>
    </div>

    <div class="container">
        <div class="content">
            <div class="icon-container">
                <div class="icon">
                    <img src="{% static 'main/images/icon1.png' %}" alt="Icon 1">
                    <p>Популярные услуги</p>
                </div>
                <div class="icon">
                    <img src="{% static 'main/images/icon2.png' %}" alt="Icon 2">
                    <p>Здоровье</p>
                </div>
                <div class="icon">
                    <img src="{% static 'main/images/icon3.png' %}" alt="Icon 3">
                    <p>Справки Выписки</p>
                </div>
                <div class="icon">
                    <img src="{% static 'main/images/icon4.png' %}" alt="Icon 4">
                    <p>Пенсии Пособия</p>
                </div>
                <div class="icon">
                    <img src="{% static 'main/images/icon5.png' %}" alt="Icon 5">
                    <p>Транспорт права</p>
                </div>
                <div class="icon">
                    <img src="{% static 'main/images/icon6.png' %}" alt="Icon 6">
                    <p>Семья</p>
                </div>
                <div class="icon">
                    <img src="{% static 'main/images/icon7.png' %}" alt="Icon 7">
                    <p>Изгнание лярвы</p>
                </div>
                <div class="icon">
                    <img src="{% static 'main/images/icon8.png' %}" alt="Icon 8">
                    <p>Регистрация Паспорт</p>
                </div>
                <div class="icon">
                    <img src="{% static 'main/images/icon9.png' %}" alt="Icon 9">
                    <p>Штрафы Налоги</p>
                </div>
                <div class="icon">
                    <img src="{% static 'main/images/icon10.png' %}" alt="Icon 10">
                    <p>Земля Дом</p>
                </div>
                <div class="icon">
                    <img src="{% static 'main/images/icon11.png' %}" alt="Icon 11">
                    <p>Квадраты</p>
                </div>
                <div class="icon">
                    <img src="{% static 'main/images/icon12.png' %}" alt="Icon 12">
                    <p>Ведомства</p>
                </div>
            </div>
    
            <div class="search-container">
                <div class="search-container-left">
                    <img class="search-skuf" src="{% static 'main/images/dima.png' %}" alt="Icon 13">
                </div>
            </div>
        </div>
    </div>
</body>
</html>