<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=LXGW+WenKai+TC:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container-1">
		<ul class="navbar">
			<li>
				<a href="#">
					<img class="navbar-logo" src="{% static 'main/images/logo.png' %}">
				</a>
			</li>
			<li> 
				<a href="#">
					<img class="navbar-skufam" src="{% static 'main/images/skufam.png' %}">
				</a>
			</li>
			<li class="navbar-space navbar-space-text">
				<a href="#">Услуги</a>
			</li>
			<li class="navbar-space-text">
				<a href="#">Документы</a>
			</li>
			<li class="navbar-space-text">
				<a href="#">Заявления</a>
			</li>
			<li class="navbar-space-text">
				<a href="#">Платежи</a>
			</li>
			<li class="navbar-space-text">
				<a href="#">Помощь</a>
			</li>
			<li>
				<a href="#" class="navbar-loopa">
					<img class="navbar-loopa" src="{% static 'main/images/loopa.png' %}">
				</a>
			</li>
			<li>
				<a href="#">
					<img class="navbar-prof" src="{% static 'main/images/prof.png' %}">
				</a>
			</li>
		</ul>
	</div>
	<div class="container-2-1">
		<div class="container-2-2">
			<div class="icon-container">
                <div class="icon-div icon-div-hover">
                    <img src="{% static 'main/images/icon1.png' %}" class="icon" alt="Icon 1">
                    <p class="icon-text">Популярные<br/>услуги</p>
                </div>
                <div class="icon-div icon-div-hover">
                    <img src="{% static 'main/images/icon2.png' %}" class="icon" alt="Icon 2">
                    <p class="icon-text">Здоровье</p>
                </div>
                <div class="icon-div icon-div-hover">
                    <img src="{% static 'main/images/icon3.png' %}" class="icon" alt="Icon 3">
                    <p class="icon-text">Справки<br/>Выписки</p>
                </div>
                <div class="icon-div icon-div-hover">
                    <img src="{% static 'main/images/icon4.png' %}" class="icon" alt="Icon 4">
                    <p class="icon-text">Пенсии<br/>Пособия</p>
                </div>
                <div class="icon-div icon-div-hover">
                    <img src="{% static 'main/images/icon5.png' %}" class="icon" alt="Icon 5">
                    <p class="icon-text">Транспорт<br/>права</p>
                </div>
                <div class="icon-div-family icon-div-hover-family">
                    <img src="{% static 'main/images/icon6.png' %}" class="icon-family" alt="Icon 6">
                    <p class="icon-text-family">Семья</p>
                </div>
                <div class="icon-div-book icon-div-hover-book">
                    <img src="{% static 'main/images/icon7.png' %}" class="icon-book" alt="Icon 7">
                    <p class="icon-text-book">Изгнание<br/>лярвы</p>
                </div>
                <div class="icon-div icon-div-hover">
                    <img src="{% static 'main/images/icon8.png' %}" class="icon-reg" alt="Icon 8">
                    <p class="icon-text-reg">Регистрация<br/>Паспорт</p>
                </div>
                <div class="icon-div-tax icon-div-hover">
                    <img src="{% static 'main/images/icon9.png' %}" class="icon-tax" alt="Icon 9">
                    <p class="icon-text-tax">Штрафы<br/>Налоги</p>
                </div>
                <div class="icon-div-house icon-div-hover-house">
                    <img src="{% static 'main/images/icon10.png' %}" class="icon-house" alt="Icon 10">
                    <p class="icon-text-house">Земля Дом</p>
                </div>
                <div class="icon-div-square icon-div-hover-square">
                    <img src="{% static 'main/images/icon11.png' %}" class="icon-square" alt="Icon 11">
                    <p class="icon-text-square">Квадраты</p>
                </div>
                <div class="icon-div-dep icon-div-hover-dep">
                    <img src="{% static 'main/images/icon12.png' %}" class="icon-dep" alt="Icon 12">
                    <p class="icon-text-dep">Ведомства</p>
                </div>
            </div>
		</div>

		<div class="container-2-3">
			<div class="search-wrapper">
				<img src="{% static 'main/images/dima.png' %}" class="dima">
				<div class="search-div">
					<input type="text" name="text" class="search">
					<input type="submit" name="submit" class="search-button" value="Search">
				</div>
			</div>
		</div>
	</div>

</body>
</html>